version: "3.8"

services:
  traefik:
    image: traefik:v2.10
    command:
      - --configFile=/etc/traefik/traefik.dev.yml
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/traefik.dev.yml:/etc/traefik/traefik.dev.yml:ro

  frontend:
    build:
      context: ./frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`localhost`)"
      - "traefik.http.routers.frontend.entrypoints=web"
    expose:
      - "8000"
    volumes:
      - ./frontend/templates:/app/templates
      - ./frontend/static:/app/static
      - ./frontend:/app # Mount the entire frontend directory for live updates
